.logo {
  width: 150px;
  height: 40px;
  background: center / cover no-repeat url(../images/logo-ANSWER.svg);
  // For storybook ↓
  //background: center / cover no-repeat url(/src/assets/images/logo-ANSWER.svg);

  &.logo--sm {
    width: 40px;
    background-position: left;
  }
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-pic--lg {
  width: 140px;
  height: 140px;
  object-fit: cover;
}