.logo {
  width: 150px;
  height: 40px;
  background: center / contain no-repeat url(../images/logo-ANSWER.svg);
  //background: center / contain no-repeat url(./assets/images/logo-ANSWER.svg);
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-pic--lg {
  width: 140px;
  height: 140px;
  object-fit: cover;
}